<p *ngIf="!clients"><em>Loading...</em></p>
<form *ngIf="clients">
  
</form>
<table id="userTable" class='table table-striped' *ngIf="clients">
  <thead>
    <tr>
      <th>
        Search
      </th>
      <th>
        <input type="text" [(ngModel)]="username" placeholder="Search by Username" />
      </th>
      <th>
        <input type="text" [(ngModel)]="account" placeholder="Search by Account" />
      </th>
      <th>
      </th>
      <th>

      </th>
      <th>

      </th>
    </tr>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Account Type</th>
      <th>Job</th>
      <th>Country or State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients| genericpipe: username : 'username' | genericpipe: account : 'account'">
      <td>{{ client.username }}</td>
      <td>{{ client.firstname }}</td>
      <td>{{ client.lastname }}</td>
      <td>{{ client.account }}</td>
      <td>{{ client.occupation }}</td>
      <td>{{ client.location }}</td>
    </tr>
  </tbody>
</table>
<!--<button *ngIf="users" class="btn-primary" (click)="callTable()">Update Table</button>-->

<h3 *ngIf="clients&&role=='ADMIN'">Submit a new Client</h3>
<span id="newMessage">{{newMessage}}</span>
<form *ngIf="clients&&role=='ADMIN'">
  <input type="text" id="clientname" placeholder="Username" />
  <input type="text" id="firstname" placeholder="First Name"/>
  <input type="text" id="lastname" placeholder="Last Name"/>
  <select id="account">
    <option value="Free">Free</option>
    <option value="Regular">Regular</option>
    <option value="Premium">Premium</option>
  </select>
  <input type="text" id="occupation" placeholder="Occupation"/>
  <input type="text" id="location" placeholder="Location"/>
  <button class="btn btn-primary" (click)="submitNewClient()">Submit Client</button>
</form>
