<form>
  <p>Create New User</p>
  <p id="createMessage">{{createMessage}}</p>
  <input type="text" id="newname" placeholder="Username" /><br />
  <input type="password" id="newword" placeholder="Password" /><br />
  <input type="password" id="repeat" placeholder="Confirm Password" /><br />
  <button class="btn btn-primary" (click)="createUser()">Create User</button>
</form>
