<p>Hey there. This is a sample project to showcase a fairly basic understanding of .Net and Angular.</p>

<p>This website is meant to represent an API of a ficticous company and their back end database. You can create a regular user account, and login as (and even change password).</p>

<p>Currently just being a user does nothing different than unauthorized access. However you can log in as an administrator to modify the database in the backend.</p>

<p>To login as admin use this:</p>

<p>Username: admin</p>
<p>Password: admin_password</p>
