<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>UserApiDatabase</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/clients"]'>Clients</a>
          </li>
          <li *ngIf="!user" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true}'>
            <a class="nav-link text-dark" [routerLink]='["/create"]'>Create User</a>
          </li>
          <li *ngIf="user" class="nav-item" [routerLinkActive]='"[link-active]"' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/account"]'>Account</a>
          </li>
        </ul>
      </div>
    </div>
    <form *ngIf="!user">
      <p style="color:red">{{loginMessage}}</p>
      <input type="text" id="username" placeholder="Username" /><br />
      <input type="password" id="password" placeholder="Password"/><br/>
      <button class="btn btn-primary" (click)="login()" style="float: right">Login</button>
    </form>
    <form *ngIf="user">
      <p>Welcome {{user}}!</p><br/>
      <button class="btn btn-primary" (click)="logout()" style="float: right">Logout</button>
    </form>
</nav>
</header>
