<p>Username: {{user}}</p>

<form>
  <p>Change Password</p>
  <p id="passwordMessage">{{passwordMessage}}</p>
  <input type="password" id="current" placeholder="Current Password"/><br />
  <input type="password" id="new" placeholder="New Password"/><br />
  <input type="password" id="repeatNew" placeholder="Repeat Password"/><br/>
  <button class="btn btn-primary" (click)="changePassword()">Change Password</button>
</form>
